# Database
#database.adapter: mysql
#database.dsn:     "host=localhost;dbname=budget;charset=utf8"
#database.username: ""
#database.password: ""
#database.charset: "utf8"

# sqlite
#database.adapter: sqlite
#database.dsn:     "%data_dir%/database.sdb"
#database.username: ""
#database.password: ""