select {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #9E9E9E;
    padding: 0pt;
    margin: 0px 0px 15px;
}

select:focus {
    border-bottom: 1px solid #26A69A;
    box-shadow: 0px 1px 0px 0px #26A69A;
}

.collection .list-item {
    position: relative;
}

.collection .list-item .title {
    font-size: 16px;
}

.collection .list-item p {
    margin: 0px;
}

.collection .list-item .secondary-content {
    position: absolute;
    /*top: 16px;*/
    right: 16px;
}

.collection .list-item .amount {
    /*font-size: 1.2rem;*/
}