<?php

return [
    'displayErrorDetails' => false,
    'enableSecurity' => true,
    'auth' => [
        'realm' => 'Budget',
        'users' => [

        ],
    ],
    'database' => [
        'driver' => 'pdo_mysql',
        'dbname' => 'budget',
        'user' => 'root',
        'password' => '',
        'host' => 'localhost',
        'charset' => 'utf8',
    ]
];
